Source: stsbl-iserv-gnupg-forwarding
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-gnupg-forwarding
Architecture: all
Depends: libpam-systemd, ${misc:Depends}, ${perl:Depends}
Description: IServ GnuPG-Agent-Forwarding
 Konfiguriert den Server für das simultane Forwarding des GnuPG-Agents durch
 mehrere Fernwartungsbenutzer.
Tag: suite::iserv
