Source: stsbl-iserv-gnupg-forwarding
Section: misc
Priority: optional
Maintainer: IServ <info@iserv.eu>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.3.0

Package: stsbl-iserv-gnupg-forwarding
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  libpam-systemd,
Description: IServ GnuPG-Agent-Forwarding
 Konfiguriert den Server für das simultane Forwarding des GnuPG-Agents durch
 mehrere Fernwartungsbenutzer.
Tag: suite::iserv
